<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yandex.authsdk">

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>

        <intent>
            <action android:name="${ACTION_YA_SDK_LOGIN}" />
        </intent>

        <package android:name="com.yandex.browser" /> <!--Яндекс браузер-->
        <package android:name="ru.yandex.searchplugin" /> <!--Яндекс Старт-->
        <package android:name="com.yandex.searchapp" /> <!--Яндекс с Алисой-->
        <package android:name="ru.yandex.taxi" /> <!-- Яндекс GO-->
        <package android:name="ru.yandex.mail" /> <!--Яндекс Почта-->
        <package android:name="ru.yandex.disk" /> <!--Яндекс Диск-->
        <package android:name="com.yandex.bank" /> <!--Яндекс Банк-->
        <package android:name="ru.yandex.key" /> <!--Яндекс Ключ-->
        <package android:name="ru.yandex.auth.client" /> <!--Семпл АМа-->
    </queries>

    <application>

        <activity
            android:name="com.yandex.authsdk.internal.AuthSdkActivity"
            android:label=""
            android:theme="@style/Theme.AuthSdk.Transparent" />

        <activity
            android:name="com.yandex.authsdk.internal.ChromeTabLoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AuthSdk.Transparent" />

        <activity
            android:name="com.yandex.authsdk.internal.WebViewLoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AuthSdk" />

        <activity
            android:name="com.yandex.authsdk.internal.ChromeTabDataActivity"
            android:exported="true"
            android:theme="@style/Theme.AuthSdk.Transparent">

            <intent-filter
                android:autoVerify="true"
                tools:ignore="AppLinkUrlError,ExtraText">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="yx${YANDEX_CLIENT_ID}.${YANDEX_OAUTH_HOST}"
                    android:path="/auth/finish"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:path="/auth/finish"
                    android:scheme="yx${YANDEX_CLIENT_ID}"
                    tools:ignore="GoogleAppIndexingUrlError" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.yandex.auth.CLIENT_ID"
            android:value="${YANDEX_CLIENT_ID}" />

        <meta-data
            android:name="com.yandex.auth.OAUTH_HOST"
            android:value="${YANDEX_OAUTH_HOST}" />
    </application>
</manifest>
